@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|IM+Fell+English+SC');

body{
  height: 100%;
  text-decoration-skip: ink;
  color: rgb(240,240,240);
  padding-top: 10px;
  font-family: 'IM Fell DW Pica', serif;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

canvas {
  position: fixed;
  top: 10%;
  left: -80%;
  z-index: -99;
}

body::selection{
  background: #fff2a8;
}

p::selection{
  background: lightgrey;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(240, 240, 240, 0.6)
}

#navlist > .active > a{
    color: rgb(240,240,240);
    text-decoration: overline;
}

.author{
  font-size: 1.3em;
  padding-top: 20px;
}

.tagline{
  padding-top: 20px;
  font-style: italic;
}

.brand{
  font-family: 'IM Fell English SC', serif;
}

.title{
  font-size: 3.5em;
}

.line{
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-filter: opacity(.8);
  filter: opacity(.8);
}

.space{
  letter-spacing: 10px;
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.tag{
  width: 50%;
  margin-right:0;
}

#title{
  padding-top: 50px;
  padding-bottom: 50px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.justify {
  text-align: justify;
}

hr.double {
	border-top: 4px double #2f2f2f;
}

hr.simple {
	border-top: 2px solid #2f2f2f;
}

.tag-hr{
  width: 45%;
  margin-right:0;
}

.link{
  text-decoration: none;
}

.italics{
  font-style: italic;
}

.threecol::first-letter {
  font-size: 2.5em;
}

.twocol::first-letter{
  font-size: 2.5em;
}

.threecol{
  -ms-word-break: keep-all;
  word-break: keep-all;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

.abstract:hover{
  border-top: 2px solid #ccc !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 8px;
}

.repo-card {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 10px;
  width: 100% !important;
}

.repo-link {
  display: block;
  width: 30rem;
  margin: auto;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

img
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:75%;
}

p > code {
  display: block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 5px;
  padding: 5px 2px;
  border-radius: 6px;
  z-index: 1;
}

a.tooltip:hover + .tooltiptext {
  visibility: visible;
}

.pagination {
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 1.5em;
}

.small {
  font-size: 1.8em;
}

.categories {
  font-size: 3em;
  text-decoration: none;
  border-top: 2px solid white;
  padding-top: 5px;
}

.tag {
  display: block;
}

.anchor {
  margin-top: 10px;
  margin-bottom: 40px;
}

.sticky {
  background: black;
  opacity: 85%;
  z-index: 1; 
  top: 0;
  position: fixed !important;
  max-width: 100% !important;
  width: 100% !important;
  padding-top: 1% !important;
  padding-left: 5% !important;
}

.sticky + div {
  padding-top: 70px;
}

#navcontainer {
  height: 70px;
}

#mobile {
  display: none !important;
}

/* Referenced from https://codepen.io/2kool2/pen/LkaXay */
/* Modal opening link cosmetics */
.lnk_modal-img {
  padding: 0;
}

.lnk_modal-open:active {
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
}

.img_modal-open {
  display: block;
  border: 0 solid;
}

/* The modal section is added via JS */
.modal {
  max-width: 80vw;
  max-height: 90vh;
  background-color: #F7F0E8;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  z-index: 10;
  border: 1px solid #000;
  box-shadow: 0 .25em .5em #000;
  transition: opacity .5s ease-out, visibility 0s ease-out 1s, transform .5s ease-out .5s;
  backface-visibility: hidden;
  opacity: 0;
  visibility: hidden;
  transform: scale(.8) translate3d(0,0,0);
  pointer-events: none;
}

.modal[aria-hidden="false"] {
  position: fixed;
  transition-delay: 0s,0s, 0s;
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate3d(0,0,0);
  pointer-events: auto;
}

/* Light box properties */
.modal_lightbox {
  text-indent: -200em;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* places the modal overlay between the main page (0) and the modal dialog (10) */
  z-index: 5;
  cursor: pointer;
  transition: opacity .5s ease-out, visibility 0s ease-out .5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_lightbox-on {
  transition-delay: 0s, 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal_lightbox-on:hover {
  /* Stolen from trickle.js. Under consideration. SVGs will not work here */
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAANpJREFUOBGNkz0KAjEQhYPYWXgCKws7LcXWyt7WG4i9jegBvIJ4AvEyXsRCsBDiN0sGkiE/O/A2O9n3viS7rPPeb9ETrVzPwrtHDzR1XF5I6oPWLQaeq5hDXQRw0I6xCuF5HH7Tz7oFuTkhrSyEhza8THaLoQhphpWUg/QOFyA/AFpy5nTbGrIjxvg4AiiGBzYc+rGZH9KPzFy+ZbX4bX9l+VDZr5NQMMbhbtvMxccpQ3JhpTchtXATQviItIpvW0CY7HHm8c9UDRd2chbABt3RQk2tEe8O3dDkD4JQ4iOR7BMpAAAAAElFTkSuQmCC"), pointer;
}

/* Modal title and description */
.modal_title,
.modal_desc {
  position: absolute;
  top: 5px;
  left: -200em;
  background-color: #fff;
  color: #000;
  text-shadow: 0 0 0 #fff;
  font-size: 20px;
  padding: 0.125em .25em;
  /* Tesco requirement
  font-family: Tesco_W_Rg, sans-serif; */
  margin: 0;
}

.modal_title:focus,
.modal_desc:focus {
  left: 5px;
}

[aria-hidden="false"] .modal_title {
  transition: opacity .5s ease-out 3s;
  opacity: 0;
}

.modal_title,
.modal_title:focus {
  opacity: 1;
  transition: opacity .5s ease-out;
}

/* The iframe */
.modal_iframe {
  transition: opacity .5s ease-out, visibility 0s ease-out 1s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_iframe-on {
  transition: opacity .8s ease-out, visibility 0s ease-out 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

[aria-hidden="true"] .modal_iframe {
  display: none;
}

[aria-hidden="false"] .modal_iframe {
  display: block;
}

/* The modal pop-ups close button, appears last in the modal, but is moved visually to the top right of the pop-up */
.modal_lnk-close {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
  border: 0 solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .25);
  overflow: hidden;
  transition: background-color .3s ease-out;
}

.modal_lnk-close:hover,
.modal_lnk-close:active,
.modal_lnk-close:focus {
  background-color: #c00;
  outline: 0 solid;
}

.svg-close {
  pointer-events: none;
  width: 40px;
  height: 40px;
  stroke: #fff;
  stroke-width: 2;
}

/* Modal SVG (Tesco) loading animation version 2 (overlaid on itself and out of phase) */
[class*="svg-loading"] {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: -1;
  transition: opacity .3s ease-out;
  backface-visibility: hidden;
}

.svg-loading {
  fill: #00539f;
  -webkit-animation: rotate 4s linear 0s infinite;
  animation: rotate 4s linear 0s infinite;
}

.svg-loading2 {
  /* Match to .modal background colour for full effect */
  fill: #F7F0E8;
  -webkit-animation: rotate 5s linear 1s infinite;
  animation: rotate 5s linear 1s infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg) translate3d(0,0,0);
    transform: rotate(360deg) translate3d(0,0,0);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg) translate3d(0,0,0);
    transform: rotate(360deg) translate3d(0,0,0);
  }
}

/* While modal is open */
/* Class added to body tag to prevent scroll
   Note the body does not require class "-modal" */
body.-modal-open {
  overflow: hidden;
}

/* Any tags classed with "-modal", when open, get "-modal-open" added */
/* Both of these are equivalent, best practice to use the attribute version which enforces accessibility */
.-modal[aria-hidden="true"] {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.-modal.-modal-open {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* Generic helper style */
.u-margin2 {
  margin: 2rem 0;
}

@media only screen
and (min-device-width : 800px)  {
  .threecol {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: 100%;
  }
  .tag{
    width: 23%;
    margin-right:0;
  }
  .repo-link {
    width: 45rem;
  }
  p > code {
    display: initial;
  }
  canvas {
    left: 25%;
  }
  #mobile {
    display: inline !important;
  }
}
