@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|IM+Fell+English+SC');

body{
  height: 100%;
  text-decoration-skip: ink;
  color: rgb(240,240,240);
  padding-top: 10px;
  font-family: 'IM Fell DW Pica', serif;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-image: url("../img/bg.jpg");
}

body::selection{
  background: #fff2a8;
}

p::selection{
  background: lightgrey;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(240, 240, 240, 0.6)
}

#navlist > .active > a{
    color: rgb(240,240,240);
    text-decoration: overline;
}

.author{
  font-size: 1.3em;
  padding-top: 20px;
}

.tagline{
  padding-top: 20px;
  font-style: italic;
}

.brand{
  font-family: 'IM Fell English SC', serif;
}

.title{
  font-size: 3.5em;
}

.line{
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-filter: opacity(.8);
  filter: opacity(.8);
}

.space{
  letter-spacing: 10px;
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.tag{
  width: 50%;
  margin-right:0;
}

#title{
  padding-top: 50px;
  padding-bottom: 50px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.justify {
  text-align: justify;
}

hr.double {
	border-top: 4px double #2f2f2f;
}

hr.simple {
	border-top: 2px solid #2f2f2f;
}

.tag-hr{
  width: 45%;
  margin-right:0;
}

.link{
  text-decoration: none;
}

.italics{
  font-style: italic;
}

.threecol::first-letter {
  font-size: 2.5em;
}

.twocol::first-letter{
  font-size: 2.5em;
}

.threecol{
  -ms-word-break: keep-all;
  word-break: keep-all;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

.abstract:hover{
  border-top: 2px solid #ccc !important;
  border-bottom: 2px solid #ccc !important;
  border-radius: 8px;
}

.repo-card {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 10px;
  width: 100% !important;
}

.repo-link {
  display: block;
  width: 30rem;
  margin: auto;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

img
{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:75%;
}

p > code {
  display: block;
}

li > a.tooltip + .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  left: 10%;
  z-index: 1;
}

li > a.tooltip:hover + .tooltiptext {
  visibility: visible;
}

.pagination {
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 1.5em;
}

@media only screen
and (min-device-width : 768px)  {
  .threecol {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: 100%;
  }
  .tag{
    width: 23%;
    margin-right:0;
  }
  .repo-link {
    width: 45rem;
  }
  p > code {
    display: initial;
  }
}
