<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include header.html %}
  </head>
  <body>

    {% include nav.html %}

    <div class="container">
      <h1 class="brand title center" id = "title">{{ site.title | upcase }}</h1>
      <h3 class="center">{{ site.author }}</h3>
      <h5 class="center">{{ site.description | markdownify }}</h5>
      <hr/>
      <p class="right">{{ site.tagline }}</p>
      <div class="center">
        <h5>{{ page.description }}</h5>
        {% if site.date == true %}<h5>Updated since <i>{{ site.time | date_to_long_string | upcase }}</i></h5>{% endif %}
        <br>
      </div>

      {{ content }}

    </div>

    {% include foot.html %}

  </body>
</html>
