<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | default: site.title }}</title>
    {% include header.html %}
    {% seo %}
  </head>
  <body>

    {% include nav.html %}
    <div class="container">
      <h1 class="brand title center" id="type">{{ page.title | upcase | default: site.title | upcase}}</h1>
      <h3 class="center">{{ site.author }}</h3>
      <h5 class="center">{{ site.description | markdownify }}</h5>
      <hr/>
      <p class="right tagline">{{ site.tagline }}</p>
      <br>
      {% include articles.html %}
    </div>

    {% include foot.html %}

  </body>
</html>
