<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | default: site.title }}</title>
    {% include header.html %}
    {% seo %}
  </head>
  <body style="overflow: hidden; background: 'https://i.vimeocdn.com/video/824643252?mw=960&mh=540';">

    <div id="mobile" class="vimeo-wrapper">
      <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <header>
      <h1 class="name">Aaron Ti</h1>
        <nav>
          <a href="/about">About Me</a>
          <a href="/">Portfolio</a>
    </header>
    <div id="comment">
      <h2>Everything is designed. Few things are designed well.</h2>
    </div>

    <script src="{{ site.baseurl }}/assets/js/vimeo.js"></script>
  </body>
</html>
